<!DOCTYPE html>
<html lang="en" ng-app="mobilizeApp" ng-strict-di>
<head>
    <title>Mobilize</title>
    <meta name="description" content="Your platform for social movements">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


<!-------------------- External Styles -------------------->
    <link rel="stylesheet" crossorigin="anonymous" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw=" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"  type='text/css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora:400' type='text/css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato' type='text/css'>

    <!-------------------- Libraries -------------------->
    <script crossorigin="anonymous" integrity="sha256-ihAoc6M/JPfrIiIeayPE9xjin4UWjsx2mjW/rtmxLM4=" src="https://cdn.jsdelivr.net/jquery/2.2.0/jquery.min.js"></script>
    <script crossorigin="anonymous" integrity="sha256-6df1Ql4Whx0pjJ55sHrlKD7wZW98y9jN9txlhnOu90k=" src="https://cdn.jsdelivr.net/angularjs/1.5.0/angular.min.js"></script>
    <script crossorigin="anonymous" integrity="sha256-PPEc19FAcSLqaoXrWZKBR2m400Vvju0eo7OtaqBDqK4=" src="https://cdn.jsdelivr.net/angularjs/1.5.0/angular-animate.min.js"></script>
    <script crossorigin="anonymous" integrity="sha256-OR0USbRjsYzz+c67onb0rnSGwJmS19qYK4n8GuHhBzs=" src="https://cdn.jsdelivr.net/angularjs/1.5.0/angular-resource.min.js"></script>
    <script crossorigin="anonymous" integrity="sha256-FmJidxOQnEEUAC5KQkqZlN7EMkNgjesYpB73JyKvQfo=" src="https://cdn.jsdelivr.net/angularjs/1.5.0/angular-sanitize.min.js"></script>
    <script crossorigin="anonymous" integrity="sha256-yqPXOkBnz5j/JxzJzlyCb32t+K/k32e+IzATP4csc+g=" src="https://cdn.jsdelivr.net/angular.ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script crossorigin="anonymous" integrity="sha256-iLk8dsVyFrcoEirDTQrf4lxvJDdWvYrpfpQ8dlzXnmA=" src="https://cdn.jsdelivr.net/showdown/1.3.0/showdown.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/showdown/compressed/Showdown.min.js"></script>
    <script src="node_modules/angular-markdown-directive/markdown.js"></script>

    <!-------------------- Styles -------------------->
    <link rel="stylesheet" href="assets/css/app.min.css" type='text/css'>

    <!-------------------- Application Sources -------------------->
    <script src="app.js"></script>
    <script src="state/localStateFactory.min.js"></script>
    <script src="layout/moreDirective.min.js"></script>
    <script src="layout/datetimeFactory.min.js"></script>
    <script src="layout/menuController.min.js"></script>
    <script src="layout/filters.min.js"></script>
    <script src="search/searchController.min.js"></script>
    <script src="movements/movementService.min.js"></script>
    <script src="movements/movementController.js"></script>
    <script src="movements/modalVideoController.min.js"></script>
    <script src="movements/modalImageController.min.js"></script>
    <script src="movements/newMovementController.min.js"></script>
    <script src="actions/actionsService.js"></script>
    <script src="actions/actionsController.js"></script>
    <script src="events/eventsService.min.js"></script>
    <script src="events/eventsController.min.js"></script>
    <script src="posts/postsService.js"></script>
    <script src="posts/postsController.min.js"></script>
</head>
<body>
<!-------------------- Top Navigation -------------------->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" ng-controller="menuController">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navbarCollapsed=!navbarCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="root">MOBILIZE</a>
        </div>
        <div class="navbar-collapse" uib-collapse="navbarCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="newMovement">Start a Movement</a></li>
                <li><a ui-sref="signIn">Sign In &nbsp;|&nbsp; Sign Up</a></li>
            </ul>
            <form class="navbar-form navbar-right" ng-submit="search(query)">
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control search-control" ng-model="query" placeholder="Find your cause...">
                </div>
            </form>
        </div>
    </div>
</nav>

<!-------------------- Content -------------------->
<div ui-view id="wrap"></div>

<!-------------------- Footer -------------------->
<footer class="footer">
    <div class="container muted">
        <ul class="list-inline">
            <li>Help</li>
            <li>Privacy</li>
            <li>Terms</li>
            <li>About</li>
            <li class="pull-right">Copyright &copy; Mobilize 2015</li>
        </ul>
    </div>
</footer>
</body>
</html>
