<br>
<h2 ng-show="$parent.state.active()">
    <small class="selectable field-control" ng-click="$parent.state.set('description')">
        <i class="icon fa fa-edit"></i> &nbsp;Modify decription
    </small>
</h2>
<more ng-show="!$parent.state.get('description')" content="{{ movement.description }}" length="400">
    <p btf-markdown="$parent.text"></p>
    <a ng-view="$parent.toggleText" class="pull-right" ng-click="$parent.toggle($parent.content,$parent.length)">{{$parent.toggleText}}</a>
</more>
<div ng-show="$parent.state.get('description')">
    <textarea class="form-control" rows="10" ng-model="movement.description"></textarea>
</div>


<h2>Important Dates &nbsp; &nbsp; &nbsp;
    <small class="selectable field-control" ng-click="go('movement.newEvent')">
        <i class="icon fa fa-calendar-plus-o"></i> &nbsp;Add Event
    </small>
</h2>
<ul class="list-unstyled" ng-controller="eventsController" ng-init="queryEvents({sourceId:$parent.sourceId})">
    <li class="row selectable-block" ng-repeat="event in events" ng-click="go('movement.event',{eventId: event.id})">
        <div class="col-xs-1">
            <div class="calendar" ng-show="event.date">
                <div class="month" ng-show="event.date" ng-class="{
                    past: ( event.date.valueOf() < now.valueOf() ),
                    soon: ( event.date.valueOf() < (now.valueOf() + 1000*60*60*24*20))
                    }">{{ MONTHS[event.date.getMonth()] }}</div>
                <div class="date" ng-show="event.date">{{ event.date.getDate() }}</div>
            </div>
        </div>
        <div class="col-xs-11"><p><a ui-sref="movement.event({eventId: event.id})">{{ event.name }}</a><br>
            <small>
                <span ng-show="event.time">@ {{event.date.getHour()}}:{{event.date.getMinute()}}</span>
                <span ng-show="event.location">in {{event.location}}</span>
            </small>
        </p></div>
    </li>
</ul>

<h2>News</h2>
<ul class="breathe">
    <li ng-repeat="newsItem in movement.news">
        <span>{{ newsItem.date }}: {{ newsItem.description }}</span>
    </li>
</ul>