<!-------------------- Header -------------------->
<div class="jumbotron hidden-print" ng-style="{'background-image': movement.image ? 'url(assets/img/movements/splash/{{movement.image}})' : ''}">
    <span>
        <span class="selectable" ng-show="state.get('edit')" ng-click="state.set('edit.image');openImageModal()">
            <i class="fa fa-image"></i> &nbsp; Modify background
        </span>
    </span>
    <div class="video">
        <span class="selectable" ng-show="state.get('edit')" ng-click="state.set('edit.video');openVideoModal()">
            <i class="fa fa-video-camera"></i> &nbsp; Modify video
        </span>
        <br>
        <div class="embed-responsive embed-responsive-4by3" ng-if="videoResource">
            <iframe ng-attr-src="{{videoResource}}" class="embed-responsive-item" allowfullscreen></iframe>
        </div>
        <span class="video-box empty" ng-if="!videoResource&&state.get('edit')">
            <div class="pull-v-center">No video added.</div>
        </span>
    </div>

    <div class="pull-down">
        <span ng-show="state.get('edit')" class="selectable" ng-click="state.set('edit.name')">
            <i class="fa fa-edit"></i> &nbsp;Modify title
        </span>
        <h1>
            <a ui-sref="movement.overview" ng-if="!state.get('edit.name')">{{movement.name}}</a>
            <input type="text" ng-model="movement.name" ng-if="state.get('edit.name')" focus/>
        </h1>
    </div>
</div>

<div class="page-header visible-print-block">
    <div><a ui-sref="movement.overview">{{movement.name}}</a> {{masterState.current.name}}</div>
</div>

<main class="stretch-container cover">
<!-------------------- Actions Menu -------------------->
    <div class="col-sm-4 col-md-3 stretch-column tight sidebar hidden-print">
        <div class="hidden-xs">
            <a class="selectable field-control" ui-sref="movement.newAction">
                +<i class="fa fa-flash"></i> &nbsp;Add Action
            </a>

            <ul class="list-unstyled">
                <li class="topic" ng-repeat="action in actions" ng-click="go('movement.action', {actionId: action.id})">
                    <a ui-sref="movement.action({actionId: action.id})">
                        <i class="fa {{actionTypes[action.type].icon}}"></i>&nbsp; {{action.name}}
                        <div class="sub-topic">{{actionTypes[action.type].helpText}}</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="controls breathe">
            <button class="btn-emphasis" ui-sref-active="active"><i class="fa fa-flash"></i> &nbsp; Act!</button>
        </div>
    </div>



    <div class="col-sm-8 col-md-9 stretch-column cover">
<!-------------------- Movement Menu -------------------->
        <div class="horizontal-menu hidden-print">
            <div class="pull-right hidden-xs">
                <a class="selectable" ui-sref="movement.admin" ui-sref-active="active">Admin</a>
                <span class="selectable" ng-model="movementModify"
                       ng-if="state.get('view')" ng-click="state.set('edit')">
                    <i class="fa fa-gear"></i> Modify movement</span>
                <span class="btn-emphasis" ng-model="movementModify"
                       ng-if="state.get('edit')" ng-click="state.set('view'); modifyMovement()">
                    <i class="fa fa-gear"></i> Save changes</span>
            </div>
            &nbsp; &nbsp; &nbsp;
            <a class="selectable" ui-sref="movement.overview" ui-sref-active="active">About</a>
            <a class="selectable" ui-sref="movement.members"  ui-sref-active="active">Members</a>
        </div>

<!-------------------- Content Template -------------------->
        <div ui-view id="content-block" class="breathe gutter"></div>
    </div>
</main>
