<!-------------------- Header -------------------->
<div class="jumbotron tight short banner" style="background-image:url(assets/img/movements/splash/{{movement.image}})">
    <div class="container col-sm-6">
        <div class="" ng-show="state.get('edit')" ng-click="state.set('edit.image');openImageModal()">
            <span class="selectable"><i class="icon fa fa-image"></i> &nbsp; Modify background</span>
        </div>
    </div>
    <div class=" col-sm-6 pull-right pull-center">
        <div class="container">
            <div class="selectable pull-right" ng-show="state.get('edit')" ng-click="state.set('edit.video');openVideoModal()">
                <i class="icon fa fa-video-camera"></i> &nbsp; Modify video
            </div>
        </div>
        <div class="video-box pull-right" ng-if="videoResource">
            <iframe ng-attr-src="{{videoResource}}" width="250" height="188" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-box pull-right empty" ng-if="!videoResource&&state.get('edit')">
            <div class="pull-center">No video added.</div>
        </div>
    </div>

    <div class="container pull-down col-sm-12">
        <span ng-show="state.get('edit')" class="selectable" ng-click="state.set('edit.name')">
            <i class="icon fa fa-edit"></i> &nbsp;Modify title
        </span>
        <h1>
            <div ng-show="!state.get('edit.name')">{{movement.name}}</div>
            <div ng-show="state.get('edit.name')"><input type="text" ng-model="movement.name"></div>
        </h1>
    </div>
</div>


<div class="stretch-container cover">
<!-------------------- Actions Menu -------------------->
    <div class="col-sm-4 col-md-3 stretch-column sidebar tight"
         >
        <div class="gutter">
            <ul class="list-unstyled sidebar-menu">
                <li class="topic">
                    <i class="fa fa-envelope"></i>&nbsp; Mail your representative
                    <div class="sub-topic">Your click will sign the letter.  We'll do the rest.</div>
                </li>
                <li class="topic">
                    <i class="fa fa-phone"></i>&nbsp; Call your representative
                    <div class="sub-topic">We''l give you the number, talking points, and coach you.</div>
                </li>
                <li class="topic">
                    <i class="fa fa-bullhorn"></i>&nbsp; Share with your friends
                    <div class="sub-topic">Your click wil post to
                        <i class="fa fa-facebook-official"></i> and <i class="fa fa-twitter"></i></div>
                </li>
                <li ng-repeat="act in actions">
                    <span><a ui-sref="movement.actions({actionId: act.id})" ui-sref-opts="{reload: true}">{{act.type}}</a></span>
                </li>
            </ul>
        </div>

        <label class="selectable field-control" ng-click="go('movement.newAction')">
            +<i class="fa fa-flash"></i> &nbsp;Add Action
        </label>
        <button class="btn-emphasis center-block breathe"><i class="fa fa-flash"></i> &nbsp; Act!</button>
    </div>



    <div class="col-sm-8 col-md-9 stretch-column  cover">
<!-------------------- Movement Menu -------------------->
        <div class="horizontal-menu row gutter" ng-init="movementMenuSelection='overview'">
             <!--ui-scrollpoint="-100" ui-scrollpoint-class="fixed"-->
            <label class="btn" ng-model="movementMenuSelection"
                   uib-btn-radio="'overview'"
                   ng-click="go('movement.overview')">
                About</label>
            <label class="btn" ng-model="movementMenuSelection"
                   uib-btn-radio="'members'"
                   ng-click="go('movement.members')">
                Members</label>
            <label class="btn" ng-model="movementMenuSelection"
                   uib-btn-radio="'admin'" ng-click="go('movement.admin')">
                Admin</label>

            <div class="pull-right">
                <label class="btn" ng-model="movementModify"
                       ng-if="state.get('view')" ng-click="state.set('edit')">
                    <i class="fa fa-gear"></i> Modify movement</label>
                <label class="btn-emphasis" ng-model="movementModify"
                       ng-if="state.get('edit')" ng-click="state.set('view'); modifyMovement()">
                    <i class="fa fa-gear"></i> Save changes</label>
            </div>
        </div>


<!-------------------- Content Template -------------------->
        <div ui-view id="content-block" class="breathe gutter"></div>
    </div>
</div>
