<h2 ng-show="$parent.state.get('edit')">
    <small class="selectable field-control" ng-click="$parent.state.set('edit.description')">
        <i class="icon fa fa-edit"></i> &nbsp;Modify decription
    </small>
</h2>
<h2 class="invisible" ng-show="$parent.state.get('view')"></h2>
<more ng-show="!$parent.state.get('edit.description')" content="{{ movement.description }}" length="400">
    <p markdown-to-html="$parent.text"></p>
    <span class="selectable" ng-view="$parent.toggleText" ng-click="$parent.toggle($parent.content,$parent.length)">
        {{$parent.toggleText}}&nbsp;
        <i class="icon fa fa-angle-down breathe-small" ng-show="$parent.toggleText === '...more'"></i>
        <i class="icon fa fa-angle-up" ng-show="$parent.toggleText === '...less'"></i>
    </span>
</more>
<div ng-show="$parent.state.get('edit.description')">
    <textarea class="form-control" rows="10" ng-model="movement.description"></textarea>
</div>


<h2>Events
    <small class="selectable field-control pull-right breathe-small" ng-click="go('movement.newEvent')">
        <i class="icon fa fa-calendar-plus-o"></i> &nbsp;Add Event
    </small>
</h2>
<ul class="list-unstyled">
    <li class="row selectable-block" ng-repeat="event in events" ng-click="go('movement.event',{eventId: event.id})">
        <div class="col-xs-2 col-sm-1">
            <div class="calendar" ng-show="event.date">
                <div class="month" ng-show="event.date" ng-class="{
                    past: ( event.date.valueOf() < now.valueOf() ),
                    soon: ( event.date.valueOf() < (now.valueOf() + 1000*60*60*24*20))
                    }">{{ MONTHS[event.date.getMonth()] }}</div>
                <div class="date" ng-show="event.date">{{ event.date.getDate() }}</div>
            </div>
        </div>
        <div class="col-xs-10 col-sm-11"><p><a ui-sref="movement.event({eventId: event.id})">{{ event.name }}</a><br>
            <small>
                <span ng-show="event.time">@ {{event.date.getHour()}}:{{event.date.getMinute()}}</span>
                <span ng-show="event.location">in {{event.location}}</span>
            </small>
        </p></div>
    </li>
</ul>

<h2>Posts
    <small class="selectable field-control pull-right breathe-small" ng-click="go('movement.newPost')">
        <i class="icon fa fa-quote-right"></i> &nbsp;Add Post
    </small>
</h2>
<ul class="list-unstyled">
    <li ng-repeat="post in posts">
        <h3>
            <a ui-sref="movement.post({postId: post.id})">{{post.name}}</a><br>
            <small>{{post.created.toDateString()}}</small>
        </h3>

        <more content="{{post.content}}" length="400">
            <p markdown-to-html="$parent.text"></p>
            <span class="selectable" ng-view="$parent.toggleText" ng-click="$parent.toggle($parent.content,$parent.length)">
                {{$parent.toggleText}}&nbsp;
                <i class="icon fa fa-angle-down breathe-small" ng-show="$parent.toggleText === '...more'"></i>
                <i class="icon fa fa-angle-up" ng-show="$parent.toggleText === '...less'"></i>
            </span>
        </more>
        <br>
    </li>
</ul>