<form class="simple-form">
    <h1>step 1: what is your movement about</h1>
    Name: <input type="text" ng-model="movement.name"/><br/>
    Description: <input type="text" ng-model="movement.description"/><br/>
    <input type="submit" id='addMovement' ng-click="addMovement()" value="save"/>
    <div id="movementStatus">{{movementStatus}}</div>
    <h1>step 2: tell your members what they can do by adding actions</h1>
    <h1>step 3: invite members</h1>
    Organizers: <br/>
    Invite Members:<br/>
</form>