$color-muted: #8a8a8a;
$color-more-muted: #e7e7e7;
$color-attention: #ff0000;
$color-background: white;
$color-soft-field: #f3f3f3;
$color-shadow: #7b7b7b;
$color-highlight: #ffddb0;

$font-text: Lora, serif;
$font-title: lato, sans-serif;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;



/* ----------------- Main Structure ----------------- */
@mixin shadow {
    box-shadow: 0 2px 15px $color-shadow;
}

.muted {
    color: $color-muted;
}
.cover {
    background-color: $color-background;
}

html{
    height: 100%;
}
body {
    font-family: $font-title;
    font-kerning: normal;
}
main {
    display: table;
    margin-top: 350px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
@media print {
    main {
        margin-top: 0;
    }
}

#content-block {
    background-color: $color-background;
}
#wrap {
    min-height: 100%;
}

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
    font-family: $font-title;
    margin-top: 40px;
    margin-bottom: 7px;
    font-kerning: normal;
}
.h1, h1 {
    font-size: xx-large;
}
.h2, h2 {
    font-size: xx-large;
}
.h3, h3 {
    font-size: x-large;
}
h2 + ul h3, h2 + ul h3 {
    margin-top: 10px;
}
.byline {
    font-family: $font-title;
    margin-bottom: 10px;
    color: $color-muted;
}
p, .content {
    font-family: $font-text;
    font-size: large;
    font-kerning: normal;
}




/* --- Positioning and Spacing --- */
.breathe {
    margin-top: 20px;
    margin-bottom: 20px;
}
.breathe-small {
    margin-top: 5px;
    margin-bottom: 5px;
}
.breathe-large {
    margin-top: 50px;
    margin-bottom: 50px;
}
.gutter {
    padding-left: 30px;
    padding-right: 30px;
}
.tight{
    margin: 0;
    padding: 0;
}
.middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.pull-down {
    position: absolute;
    bottom: 0 !important;
}
.pull-v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
}

/* --- Form Items --- */
.inner-addon {
    position: relative;
}
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: $color-muted;
}
.left-addon .glyphicon  { left:  0;}
.right-addon .glyphicon { right: 0;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.has-error > input{
    background-color: #ffeeee;
}


/* --- Icons --- */
.icon {
    vertical-align: middle;
    font-size: large;
    margin-bottom: 4px;
    z-index: 0;
    position: relative;
}
.check:after {
    content: "\f00c";
    color: #00d600;
    text-shadow: 1px 1px 0 $color-background, -1px 1px 0 $color-background, 1px -1px 0 $color-background, -1px -1px 0 $color-background;
    font-size: 80%;
    margin-left: -30%;
}

/* --- Interactive Items --- */
.selectable {
    display: inline-block;
    text-decoration: none;
    border-bottom: solid 2px transparent;
    margin: 2px 10px 2px 10px;
    padding: 3px 5px 3px 5px;
    font-family: $font-title;
    color: $color-muted;

    &:hover, &:focus, &:active, &.active {
        color: $color-muted;
        border-bottom: solid 2px $color-attention;
        cursor: pointer;
        text-decoration: none;
    }
}
.selectable-block {
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
    margin-bottom: 2px;

    &:hover, .active {
        border-left: solid 4px $color-attention;
        border-right: solid 4px $color-attention;
        margin-bottom: 2px;
        cursor: pointer;
    }
}
.btn-panel {
    margin: 5px;
    padding: 5px;
    border: solid 1px $color-muted;

    &:hover, &:active, &:focus {
        border: solid 1px $color-attention;
        box-shadow: 0 0 5px $color-shadow;
    }
}
.btn-default {
    margin-top: 2px;
    margin-bottom: 2px;
}
.btn-emphasis {
    color: $color-background;
    background-color: $color-attention;
    border-width: 0;
    border-radius: 0;
    padding: 5px 20px 5px 20px;
    margin: 2px 3px 2px 3px;

    &:hover, &:focus, &:active {
        color: $color-background;
        text-decoration: underline;
        box-shadow: none !important;
    }
}
.btn-understate {
    color: $color-background;
    font-size: small;
    background-color: $color-muted;
    border-width: 0;
    border-radius: 0;
    padding: 2px 10px 2px 10px;
    margin: 7px 3px 7px 3px;

    &:hover, &:focus {
        color: $color-background;
        text-decoration: underline;
    }
}
.btn-plain {
    border: none;
    color: $color-muted;

    &:hover, &:focus, &:active {
        color: $color-attention;
        cursor: pointer;
    }
}
@media (max-width: 767px) {
    .btn-emphasis {
        font-size: large;
        padding: 10px 30px 10px 30px;
    }
    .btn-understate {
        font-size: medium;
        padding: 5px 20px 5px 20px;
    }
    .selectable {
        font-size: large;
    }
}

.label {
    margin: 2px;
}
.label-default {
}
.overlay {
    position: relative;
    z-index: 1;
}



/* ----------------- Top Menu ----------------- */
.navbar-default {
  background-color: $color-background;
  border-color: $color-more-muted;
  padding: 0 15px 0 15px;

  .navbar-brand {
    color: $color-attention;
    font-size: xx-large;
    font-weight: bolder;

    &:hover, &:focus, &:active {
      color: $color-attention;
      background-color: transparent;
    }
  }

  .navbar-nav > li > a {
    border-bottom: solid 2px transparent;
    padding: 5px;
    margin: 10px;

    &:hover, &:focus, &:active, &.active {
      border-bottom: solid 2px $color-attention;
    }
  }

  .navbar-collapse, .navbar-form {
    background-color: $color-background;

    .search-control {
      border-width: 0;
      border-radius: 0;
      box-shadow: none;
      border-bottom: solid 2px $color-more-muted;
      background-color: $color-soft-field;

      &:hover, &:focus, &:active {
        border-bottom: solid 2px $color-attention;
      }
    }
  }
}
.navbar-fixed-top {
    border: 0;
}

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
    @include shadow;
}
.headroom--unpinned {
    transform: translateY(-100%);
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: block  !important;
        height: auto    !important;
    }}



/* ----------------- Banner ----------------- */
.jumbotron {
  height: 350px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  margin-bottom: 10px;
  padding: 60px 30px 15px 30px;
  background-color: transparent;
  background: no-repeat center center;
  background-size: cover;
  color: $color-background;
  text-shadow: 0 0 2px $color-shadow;
  @include shadow;

  h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  &>div {
    width: 93%;
  }

  input[type="text"] {
    background-color: $color-more-muted;
    background: rgba(191, 191, 191, 0.5);
    border: solid 2px $color-background;
    box-shadow: 0 0 3px 0 $color-shadow;
    width: 100%;
  }

  a, .selectable {
    color: $color-background;

    &:hover, &:focus, &:active {
        text-decoration: none;
        color: $color-background;
    }
  }
}
@media (max-width: $screen-sm) {
  .jumbotron {
    .video {
      max-width: 350px;
      display: block;
      margin-right: auto;
      margin-left: auto;

      .embed-responsive {
        margin: -30px -40px 0 -40px;
      }
    }
  }
}
@media (min-width: $screen-sm + 1) {
  .jumbotron {
    .video {
      max-width: 300px;
      float: right !important;
    }
  }
}


/* ----------------- Sidebar Menu ----------------- */
.sidebar {
  background-color: $color-background;
  padding: 0 0 10px 0;
  text-align: center;

  h2 {
    font-size: 14px;
  }
  ul {
    margin-top: 50px;
  }

  .topic {
    font-weight: bold;
    font-size: medium;
    color: $color-attention;
    text-align: left;
    margin: 0 15px 10px 15px;
    padding: 0 10px 0 15px;
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
    cursor: pointer;

    &:hover, &:focus, &:active {
      border-left: solid 4px $color-attention;
      border-right: solid 4px $color-attention;
      padding: 0 5px 0 20px;
    }

    a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: $color-attention;
    }
  }

  .controls {
    text-align: center;
  }

  .sub-topic {
    font-weight: normal;
    font-size: x-small;
    color: $color-muted;
    padding-left: 22px;
  }
}
@media (max-width: 767px) {
    .sidebar {
        @include shadow;
        margin-bottom: 10px;
        padding-top: 10px;

        ul {
            margin-top: 10px;
        }
        .topic {
            font-size: large;
        }
    }
}
/*@media (min-width: 768px) {
    .stretch-container {
        display: table;
    }

    .stretch-column {
        display: table-cell;
        float: none;
        vertical-align: top;
    }
}*/

/* ----------------- Horizontal Menu ----------------- */
.horizontal-menu {
    background: inherit;
}

/* ----------------- Footer Menu ----------------- */
.footer {
    border-top: thin solid $color-more-muted;
    padding-top: 10px;
}

/* ----------------- Video Component ----------------- */
.video-box {
  max-width: 300px;
  text-align: center;

  &.empty {
    border: solid 2px $color-background;
    box-shadow: 0 0 3px 0 $color-shadow;
  }
}

/* ----------------- Image Picker Component ----------------- */
.image-picker {
  max-height: 300px;
  overflow: scroll;
  width: auto;

  .tile {
    margin: 5px;
    padding: 2px;
    border: solid 1px transparent;

    &:hover, .tile.active {
      border: solid 1px $color-attention;
      box-shadow: 0 0 3px 0 $color-attention;
    }
  }
}

/* ----------------- Calendar Component ----------------- */
.calendar {
  margin: 2px;
  width: 30px;
  font-family: $font-title;

  > .month {
    font-size: xx-small;
    text-align: center;
    color: $color-background;
    background-color: $color-muted;
    border: solid 1px $color-muted;
  }

  > .month.soon {
    background-color: $color-attention;
    border-color: $color-attention;
  }

  > .month.past {
    background-color: $color-soft-field;
    border-color: $color-more-muted;
    color: $color-muted;
  }

  > .date {
    font-size: small;
    font-weight: bolder;
    color: $color-muted;
    background-color: $color-background;
    text-align: center;
    border-left: solid 1px $color-more-muted;
    border-right: solid 1px $color-more-muted;
    border-bottom: solid 1px $color-more-muted;
  }
}

/* ----------------- Animations ----------------- */
.animate-enter,
.animate-leave
{
    -webkit-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}

.highlight,             .highlight.ng-hide-remove {
    -webkit-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
    background-color: white;
}
.highlight.ng-enter,    .highlight.ng-hide {
    background-color: $color-highlight;
}



/* ----------------- Print Preview ----------------- */
$paper-width-letter:    8.5 * 72px;
$paper-height-letter:   11 * 72px;
$modal-lg:             900px;
$modal-lg-paper-ratio: $modal-lg / $paper-width-letter;
$modal-md:             600px;
$modal-md-paper-ratio: $modal-md / $paper-width-letter;
$modal-sm:             300px;
$modal-sm-paper-ratio: $modal-sm / $paper-width-letter;

.printed-page {
  overflow: hidden;
  background-color: white;
  color: black;
}

@mixin printed-page($size) {
  $ratio: $size / $paper-width-letter;

  &.letter {
    min-height: round($paper-height-letter * $ratio);
    max-height: round($paper-height-letter * $ratio);
    padding: round(1.25 * 72px * $ratio);
  }
  p {
    font-size: round(10pt * $ratio);
    margin-bottom: round(12pt * $ratio);

    &.date {
      margin-top: round(24pt * $ratio);
      float: right;
    }

    &.salutation {
      margin-top: round(72pt * $ratio);
    }

    &.subject {
      margin-top: round(12pt * $ratio);
      margin-bottom: round(12pt * $ratio);
    }

    &.signature {
      margin-top: round(24pt * $ratio);
      margin-bottom: round(24pt * $ratio);
    }
  }
}

@media (max-width: $screen-sm) {
  .printed-page { @include printed-page($modal-sm); }
}
@media (min-width: $screen-sm + 1) and (max-width: $screen-md) {
  .printed-page { @include printed-page($modal-md); }
}
@media (min-width: $screen-md + 1) {
  .printed-page { @include printed-page($modal-lg); }
}
