/* ----------------- Main Structure ----------------- */
.muted {
  color: #8a8a8a; }

.cover {
  background-color: white; }

html {
  height: 100%; }

body {
  font-family: lato, sans-serif;
  font-kerning: normal; }

main {
  display: table;
  margin-top: 350px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%; }

@media print {
  main {
    margin-top: 0; } }
#content-block {
  background-color: white; }

#wrap {
  min-height: 100%; }

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
  font-family: lato, sans-serif;
  margin-top: 40px;
  margin-bottom: 7px;
  font-kerning: normal; }

.h1, h1 {
  font-size: xx-large; }

.h2, h2 {
  font-size: xx-large; }

.h3, h3 {
  font-size: x-large; }

h2 + ul h3, h2 + ul h3 {
  margin-top: 10px; }

.byline {
  font-family: lato, sans-serif;
  margin-bottom: 10px;
  color: #8a8a8a; }

p, .content {
  font-family: Lora, serif;
  font-size: large;
  font-kerning: normal; }

/* --- Positioning and Spacing --- */
.breathe {
  margin-top: 20px;
  margin-bottom: 20px; }

.breathe-small {
  margin-top: 5px;
  margin-bottom: 5px; }

.breathe-large {
  margin-top: 50px;
  margin-bottom: 50px; }

.gutter {
  padding-left: 30px;
  padding-right: 30px; }

.tight {
  margin: 0;
  padding: 0; }

.middle {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.pull-down {
  position: absolute;
  bottom: 0 !important; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left; }

/* --- Form Items --- */
.inner-addon {
  position: relative; }

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #8a8a8a; }

.left-addon .glyphicon {
  left: 0; }

.right-addon .glyphicon {
  right: 0; }

.left-addon input {
  padding-left: 30px; }

.right-addon input {
  padding-right: 30px; }

.has-error > input {
  background-color: #ffeeee; }

/* --- Icons --- */
.icon {
  vertical-align: middle;
  font-size: large;
  margin-bottom: 4px;
  z-index: 0;
  position: relative; }

.check:after {
  content: "\f00c";
  color: #00d600;
  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
  font-size: 80%;
  margin-left: -30%; }

/* --- Interactive Items --- */
.selectable {
  display: inline-block;
  text-decoration: none;
  border-bottom: solid 2px transparent;
  margin: 2px 10px 2px 10px;
  padding: 3px 5px 3px 5px;
  font-family: lato, sans-serif;
  color: #8a8a8a; }
  .selectable:hover, .selectable:focus, .selectable:active, .selectable .active {
    color: #8a8a8a;
    border-bottom: solid 2px #ff0000;
    cursor: pointer;
    text-decoration: none; }

.selectable-block {
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
  margin-bottom: 2px; }
  .selectable-block:hover, .selectable-block .active {
    border-left: solid 4px #ff0000;
    border-right: solid 4px #ff0000;
    margin-bottom: 2px;
    cursor: pointer; }

.btn-panel {
  margin: 5px;
  padding: 5px;
  border: solid 1px #8a8a8a; }
  .btn-panel:hover, .btn-panel:active, .btn-panel:focus {
    border: solid 1px #ff0000;
    box-shadow: 0 0 5px #7b7b7b; }

.btn-default {
  margin-top: 2px;
  margin-bottom: 2px; }

.btn-emphasis {
  color: white;
  background-color: #ff0000;
  border-width: 0;
  border-radius: 0;
  padding: 5px 20px 5px 20px; }
  .btn-emphasis:hover, .btn-emphasis:focus, .btn-emphasis:active {
    color: white;
    text-decoration: underline;
    box-shadow: none !important; }

.btn-understate {
  color: white;
  font-size: small;
  background-color: #8a8a8a;
  border-width: 0;
  border-radius: 0;
  padding: 2px 10px 2px 10px; }
  .btn-understate:hover, .btn-understate:focus {
    color: white;
    text-decoration: underline; }

.btn-plain {
  border: none;
  color: #8a8a8a; }
  .btn-plain:hover, .btn-plain:focus, .btn-plain:active {
    color: #ff0000;
    cursor: pointer; }

.label {
  margin: 2px; }

.overlay {
  position: relative;
  z-index: 1; }

/* ----------------- Top Menu ----------------- */
.navbar-default {
  background-color: white;
  border-color: #e7e7e7;
  padding-left: 20px;
  padding-right: 20px; }
  .navbar-default .navbar-brand {
    color: #ff0000;
    font-size: xx-large;
    font-weight: bolder; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active {
      color: #ff0000;
      background-color: transparent; }
  .navbar-default .navbar-nav > li > a {
    border-bottom: solid 4px white; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
      color: #ff0000;
      border-bottom: solid 3px #ff0000; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: white; }
    .navbar-default .navbar-collapse .search-control, .navbar-default .navbar-form .search-control {
      border-width: 0;
      border-radius: 0;
      box-shadow: none;
      border-bottom-width: 2px;
      border-bottom-color: #e7e7e7;
      background-color: #f3f3f3; }

.navbar-fixed-top {
  border: 0; }

.headroom {
  transition: transform 200ms linear; }

.headroom--pinned {
  transform: translateY(0%);
  box-shadow: 0 2px 15px #7b7b7b; }

.headroom--unpinned {
  transform: translateY(-100%); }

@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: block  !important;
    height: auto    !important; } }
/* ----------------- Banner ----------------- */
.jumbotron {
  height: 350px;
  padding: 60px 30px 0 0;
  background-color: transparent;
  color: white;
  text-shadow: 0 0 2px #7b7b7b;
  background: no-repeat center center;
  background-size: cover;
  box-shadow: 0 2px 15px #7b7b7b;
  top: 0;
  margin-bottom: 10px;
  width: 100%;
  z-index: 10;
  position: absolute; }
  .jumbotron h1 {
    font-size: 30px;
    margin-top: 0; }
  .jumbotron input[type="text"] {
    background-color: #e7e7e7;
    background: rgba(191, 191, 191, 0.5);
    border: solid 2px white;
    box-shadow: 0 0 3px 0 #7b7b7b;
    width: 50%; }
  .jumbotron a {
    color: white; }
    .jumbotron a:hover, .jumbotron a:focus, .jumbotron a:active {
      text-decoration: none;
      color: white; }

/* ----------------- Sidebar Menu ----------------- */
.sidebar {
  background-color: white;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 10px;
  text-align: center; }
  .sidebar h2 {
    font-size: 14px; }
  .sidebar ul {
    margin-top: 75px; }
  .sidebar .topic {
    font-weight: bold;
    font-size: medium;
    color: #ff0000;
    text-align: left;
    margin-bottom: 10px;
    padding-right: 15px;
    border-right: solid 4px transparent;
    cursor: pointer; }
    .sidebar .topic:hover, .sidebar .topic:focus, .sidebar .topic:active {
      border-right: solid 4px #ff0000;
      padding-left: 4px; }
  .sidebar .sub-topic {
    font-weight: normal;
    font-size: x-small;
    color: #8a8a8a;
    padding-left: 22px; }

.sidebar-menu {
  margin-right: -30px; }

@media (max-width: 767px) {
  .sidebar {
    box-shadow: 0 2px 15px #7b7b7b;
    margin-bottom: 10px;
    padding-top: 10px; }
    .sidebar ul {
      margin-top: 10px; }
    .sidebar .topic {
      font-size: large; } }
/*@media (min-width: 768px) {
    .stretch-container {
        display: table;
    }

    .stretch-column {
        display: table-cell;
        float: none;
        vertical-align: top;
    }
}*/
/* ----------------- Horizontal Menu ----------------- */
.horizontal-menu {
  background: inherit; }

/* ----------------- Footer Menu ----------------- */
.footer {
  border-top: thin solid #e7e7e7;
  padding-top: 10px; }

/* ----------------- Video Component ----------------- */
.video-box {
  width: 250px;
  height: 188px;
  text-align: center; }

.empty {
  border: solid 2px white;
  box-shadow: 0 0 3px 0 #7b7b7b; }

.pull-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

/* ----------------- Image Picker Component ----------------- */
.image-picker {
  max-height: 300px;
  overflow: scroll;
  width: auto; }
  .image-picker .tile {
    margin: 5px;
    padding: 2px;
    border: solid 1px transparent; }
    .image-picker .tile:hover, .image-picker .tile .tile.active {
      border: solid 1px #ff0000;
      box-shadow: 0 0 3px 0 #ff0000; }

/* ----------------- Calendar Component ----------------- */
.calendar {
  margin: 2px;
  width: 30px;
  font-family: lato, sans-serif; }
  .calendar > .month {
    font-size: xx-small;
    text-align: center;
    color: white;
    background-color: #8a8a8a;
    border: solid 1px #8a8a8a; }
  .calendar > .month.soon {
    background-color: #ff0000;
    border-color: #ff0000; }
  .calendar > .month.past {
    background-color: #f3f3f3;
    border-color: #e7e7e7;
    color: #8a8a8a; }
  .calendar > .date {
    font-size: small;
    font-weight: bolder;
    color: #8a8a8a;
    background-color: white;
    text-align: center;
    border-left: solid 1px #e7e7e7;
    border-right: solid 1px #e7e7e7;
    border-bottom: solid 1px #e7e7e7; }

/* ----------------- Animations ----------------- */
.animate-enter,
.animate-leave {
  -webkit-transition: 800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip; }

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px; }

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px; }

/*# sourceMappingURL=app.css.map */
