<br>
<h3>New Event</h3>
<form class="simple-form">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="event.name" class="control-label col-sm-3">The event,</label>
            <div class="col-sm-9" ng-class="{'has-error': !event.name}">
                <input type="text" id="event.name" class="form-control" ng-model="event.name"
                        placeholder="Ex.: School Board zoning vote">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">takes place on</label>
            <div class="col-sm-9"><div class="form-group">
                <div class="col-sm-3 col-xs-4"><p class="form-control-static">{{date.day}}</p></div>
                <div class="col-sm-3 col-xs-4 tight" ng-class="{'has-error': date.monthError}">
                    <input id="month" type="text" class="form-control" ng-model="date.month"
                           uib-typeahead="month for month in date.MONTHS | filter:$viewValue | limitTo:5"
                           typeahead-select-on-exact="true" typehead-editable="false">
                </div>
                <div class="col-sm-2 col-xs-2 tight" ng-class="{'has-error': date.dateError}">
                    <input id="date" type="number" size="2" class="form-control" ng-model="date.date"
                           uib-typeahead="date for date in date.DATES | filter:$viewValue | limitTo:5"
                           typehead-editable="false">
                </div>
                <div class="col-sm-1 col-xs-2 tight"><p class="form-control-static">{{date.suffix}},</p></div>
                <div class="col-sm-3 col-xs-12" ng-class="{'has-error': date.yearError}">
                    <input id="year" type="number" size="4" class="form-control" ng-model="date.year"
                           uib-typeahead="year for year in date.YEARS | filter:$viewValue | limitTo:5"
                           typehead-editable="false">
                </div>
            </div></div>

            <label for="event.location" class="control-label col-sm-3">and is located in</label>
            <div class="col-sm-9">
                <input id="event.location" type="text" class="form-control col-sm-9" ng-model="event.location" placeholder="Ex.: Town Hall, 11 Nolane Ave, Notownville, VA">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="event.description" class="control-label">Additional information:</label>
        <textarea id="event.description" class="form-control" rows="10" ng-model="event.description"></textarea>

        <div class="input-group pull-right" ng-show="event.name">
            <button class="btn btn-emphasis breathe" ng-click="addEvent()">Add event</button>
        </div>
    </div>
{{error}}

</form>