<h2>
    <div ng-show="postState.get('new')">New Post<br><br></div>
    <div ng-class="{'has-error': !post.name}" ng-show="postState.get('edit')">
        <input type="text" id="post.name" class="form-control input-lg" ng-model="post.name"
               placeholder="Give your post a title">
    </div>
    <div ng-show="!postState.get('edit')">
        <span class="breathe">{{post.name}}</span>
        <br>
    </div>
</h2>
<span class="selectable pull-right" ng-click="postState.toggle('edit')" ng-show="!postState.get('edit')">
    <i class="icon fa fa-edit"></i> &nbsp;Modify post
</span>
<div class="byline" ng-show="!postState.get('new')">{{post.created.getMonthName() + ' ' + post.created.getDate() + ', ' + post.created.getFullYear()}}</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-class="{'has-error': !post.content}">
            <textarea   ng-show="postState.get('edit')" id="post.content" ng-model="post.content"
                        class="form-control input-lg" rows="10"></textarea>
        </div>
        <more ng-show="!postState.get('edit')" content="{{ post.content }}" length="800" class="breathe">
            <p markdown-to-html="$parent.text"></p>
            <a ng-view="$parent.toggleText" class="pull-right" ng-click="$parent.toggle($parent.content,$parent.length)">
                {{$parent.toggleText}}
            </a>
        </more>

        <div ng-show="!postState.get('new') && postState.get('edit')" class="input-group breathe col-xs-12">
            <button class="btn btn-understate" type="button" ng-click="deletePost();
                    go('movement.overview',{movementId: movement.id})">
                Delete this post
            </button>
            <div class="pull-right">
                <button class="btn btn-emphasis" ng-click="postState.toggle('edit'); modifyPost()"
                        ng-show="post.name && post.content">
                    Save
                </button>
                &nbsp;
                <button class="btn btn-understate" type="button" ng-click="go('movement.overview',{movementId: movement.id})">
                    Cancel
                </button>
            </div>
        </div>
        <div ng-show="postState.get('new')" class="input-group pull-right breathe">
            <button ng-show="post.name && post.content && postState.get('edit')" class="btn btn-emphasis"
                    ng-click="postState.set('view'); addPost()">
                Add
            </button>
            &nbsp;
            <button class="btn btn-understate" type="button" ng-click="go('movement.overview',{movementId: movement.id})">
                Cancel
            </button>
        </div>
    </div>
</div>
